@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  background-color: #1af5f8;
  font-family: "Neucha", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
