@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.App {
  background-color: #1af5f8;
  font-family: "Neucha", cursive;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}


.heading {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}